<?xml version="1.0"?>
<config>
    <modules>
        <Wli_Wlislider>
            <version>0.1.0</version>
        </Wli_Wlislider>
    </modules>
    <frontend>
        <routers>
            <wlislider>
                <use>standard</use>
                <args>
                    <module>Wli_Wlislider</module>
                    <frontName>wlislider</frontName>
                </args>
            </wlislider>
        </routers>
        <layout>
            <updates>
                <wlislider>
                    <file>wlislider.xml</file>
                </wlislider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <wlislider>
                <use>admin</use>
                <args>
                    <module>Wli_Wlislider</module>
                    <frontName>wlislider</frontName>
                </args>
            </wlislider>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
            </resources>   
        </acl>
        <layout>
            <updates>
                <wlislider>
                    <file>wlislider.xml</file>
                </wlislider>
            </updates>
        </layout>
    </adminhtml>
    <wli_wlislider>
        <wli_wlislider>
            <transitionTime>1.5</transitionTime>
        </wli_wlislider>
    </wli_wlislider>
    <global>
        <models>
            <wlislider>
                <class>Wli_Wlislider_Model</class>
                <resourceModel>wlislider_mysql4</resourceModel>
            </wlislider>
            <wlislider_mysql4>
                <class>Wli_Wlislider_Model_Mysql4</class>
                <entities>
                    <wlislider>
                        <table>wlislider</table>
                    </wlislider>
                </entities>
            </wlislider_mysql4>
        </models>
        <resources>
            <wlislider_setup>
                <setup>
                    <module>Wli_Wlislider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </wlislider_setup>
            <wlislider_write>
                <connection>
                    <use>core_write</use>
                </connection>
 
 
            </wlislider_write>
            <wlislider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </wlislider_read>
        </resources>
        <blocks>
            <page>
                <rewrite>
                    <html_header>Wli_Wlislider_Block_Html_Header</html_header>
                </rewrite>
            </page>
        </blocks>
        <blocks>
            <wlislider>
                <class>Wli_Wlislider_Block</class>
            </wlislider>
        </blocks>
        <helpers>
            <wlislider>
                <class>Wli_Wlislider_Helper</class>
            </wlislider>
        </helpers>
    </global>
</config>
